<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="arm_full_assembly">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="8.81459236109933E-06 0.0148335575280781 4.3339682058757E-06"
        rpy="0 0 0" />
      <mass
        value="1.43060909608374" />
      <inertia
        ixx="0.0011234283526043"
        ixy="5.47940542800664E-12"
        ixz="1.24027344861628E-08"
        iyy="0.00210345009526074"
        iyz="2.61573670152943E-10"
        izz="0.00112329840718542" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="src/description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="src/description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link 1">
    <inertial>
      <origin
        xyz="-0.112607560505869 -0.0702636475592163 -0.0226268718071088"
        rpy="0 0 0" />
      <mass
        value="4.97377764227934" />
      <inertia
        ixx="0.0044292769400212"
        ixy="6.6245943921174E-08"
        ixz="6.15016713366494E-06"
        iyy="0.00771445180470878"
        iyz="7.31377865315434E-06"
        izz="0.0107736797476312" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="src/description/meshes/link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="src/description/meshes/link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="shoulder"
    type="revolute">
    <origin
      xyz="0 0 0.03935"
      rpy="-1.5708 0 -1.5708" />
    <parent
      link="base_link" />
    <child
      link="link 1" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link 2">
    <inertial>
      <origin
        xyz="0.0356946918537556 -0.000141329711779284 0.0779773042803494"
        rpy="0 0 0" />
      <mass
        value="2.34758133339318" />
      <inertia
        ixx="0.00217202061390902"
        ixy="-1.20331123757817E-10"
        ixz="3.94507422733526E-06"
        iyy="0.00253608135436512"
        iyz="2.29166373476576E-07"
        izz="0.00265320863056675" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="src/description/meshes/link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="src/description/meshes/link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="elbow"
    type="revolute">
    <origin
      xyz="-0.34315 -0.07335 -0.037841"
      rpy="0 0 -3.1416" />
    <parent
      link="link 1" />
    <child
      link="link 2" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="hand link">
    <inertial>
      <origin
        xyz="0.0344581021988182 0.0153009553616624 0.0204827082124388"
        rpy="0 0 0" />
      <mass
        value="0.750967399035251" />
      <inertia
        ixx="0.000644136496032528"
        ixy="-3.44034905742044E-05"
        ixz="1.48522113054289E-05"
        iyy="0.000580115693570654"
        iyz="-2.85026358587846E-05"
        izz="0.00106973660677854" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="src/description/meshes/hand_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="src/description/meshes/hand_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wrist"
    type="fixed">
    <origin
      xyz="0.407675000000002 0.0377779999999983 -0.0140249996246558"
      rpy="0 0 -1.5707963267949" />
    <parent
      link="link 2" />
    <child
      link="hand link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>