<?xml version="1.0"?>
<robot name = "Arm_Assembly">

<link name = "base_link">
    <visual>
        <origin rpy = "0.0 0 0" xyz = "0 0 0 "/>
        <geometry>
            <mesh filename="package://description/meshes/base_link.STL"/>
        </geometry>
    </visual>
</link>

<link name = "link_1">
    <visual>
        <origin rpy = "0.0 0 0" xyz = "0 0 0 "/>
        <geometry>
            <mesh filename="package://description/meshes/link_1.STL"/>
        </geometry>
    </visual>
</link>

<joint name="base_to_link" type ="fixed">
    <parent link = "base_link"/>
    <child link = "link_1"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
</joint>


</robot>
