<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="description">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import description urdf file -->
    <xacro:include filename="$(find description)/urdf/new_arm_assembly.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="description.ros2_control.xacro" />


    <xacro:description_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
